body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headers */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-header {
  font-size: 3.5rem;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored {
  background-color: #ff4c68;
  color: #fff;
}

.white {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu';
}

/* Title section */
#title.container-fluid {
  position: relative;
  text-align: left;
  padding: 3% 15% 7%;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Downloads Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  padding: 10% 15%;
  position: relative;
}

.feature-img {
  color: #ef8172;
}

.feature-img:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
  margin-top: 20px;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.test-text {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Table */
#pricing {
  padding: 100px;
}

.pricing-card {
  padding: 3% 2%;
}

.pricing-header {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action */
/* Footer */
#footer {
  padding: 5% 15% 3%;
}

.footer-icon {
  margin: 20px 10px;
}

.twitter:hover {
  color: #1DA1F2;
}

.facebook:hover {
  color: #4267B2;
}

.instagram:hover {
  color: #8a3ab9;
}

.mail:hover {
  color: #D44638;
}

/* Media Queries  */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
